body {
  font-family: 'PT Sans','Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.all-content-container {
  width: 1200px;
  margin: 0 auto;
}

.horizontal-content {
  text-align: center;
}

.nav,
.features-list-item,
.features-sublist-item,
.social-buttons-list,
.hotels-list,
.hotels {
  list-style:none;
}

a {
  text-decoration: none;
}

.nav-link {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  color: #000000;
}

.visually-hidden {
  position:absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.description h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}

.description p {
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.item-description,
.number,
.description {
  color: #333333;
  font-size: 14px;
}

.features-list-item{
  background-color: #81b3d2;
  font-size: 14px;
}

.features-list-item--gray {
  background-color: #eeeeee;
}

.features-list-item--big {
  color: white;
}

.features-list-other-item{
  background-color: #ffffff;
}

.interest-main-word {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.interest-data {
  font-size: 14px;
  text-align: center;
  color: #333333;
  line-height: 21px;
  font-weight: 400;
}

.interest-find-hotel {
  background-color: #766357;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;
}

.visit {
  width: 136px;
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #000000;
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: block;
}

.tw-icon {
  width: 17px;
  height: 15px;
  color: #ffffff;
}

.fb-icon {
  width: 12px;
  height: 22px;
}

.youtube-icon {
  width: 20px;
  height: 16px;
}

.footer-copyright b{
  width: 74px;
  height: 11px;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.logo-htmla:hover,
.logo-htmla:focus {
  background-color: #81b3d2;
}

.logo-htmla:active {
  background-color: #bdbbbc;
}

.welcome-container {
  background-color: #e3f0f8;
  min-height: 726px;
  background-image:
    url("../img/polygon.png"),
    url("../img/background-photo.jpg");
  background-size: auto, cover;
  background-repeat: no-repeat,no-repeat;
  background-position: 50% 458px, bottom;
  padding-top: 76px;
}

.form-word {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.86;
  color: #000000;
}

.button {
  color: #a9a9a9;
  background-color: #f2f2f2;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.find-hotel {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
}

.social-buttons-list li {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.html-academy{
  width: 115px;
  height: 41px;
  display: block;
  background-image: url("../img/logo-htmla.svg");
  background-repeat: no-repeat;
}

/*style guide page 1*/

.button:hover,
.button:focus {
  color: #000000;
}
.button:active {
  color: #81b3d2;
}

.find-hotel:hover,
.find-hotel:focus {
  background-color: #669ec0;
  color: #ffffff;
}

.find-hotel:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.html-academy:hover,
.html-academy:focus {
  background-image: url("../img/logo-htmla-hover.svg");
  background-repeat: no-repeat;

}

.html-academy:active {
  background-image: url("../img/logo-htmla-active.svg");
  background-repeat: no-repeat;
}

/* стилизация (базовая) второй страницы */

.hotel-name {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
  color: #000000;
}

.hotel-type {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #333333;
}

.hotel-cost {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #333333;
}

.info-link {
  background-color: #81b3d2;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.hotel-page {
  background-color: #766357;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;

}

.rating p {
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #666666;
}

/*style guide page 2*/

.nav-link:hover,
.nav-link:focus,
.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.nav-link:active,
.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-active {
  color: #766357;
}

.info-link:hover,
.info-link:focus {
  background-color: #669ec0;
}

.info-link:active {
  background-color: #5496bd;
  color:rgba(255, 255, 255, 0.3);
}

.hotel-page:hover,
.hotel-page:focus {
  background-color: #604e43;
}

.hotel-page:active {
  background-color: #503e33;
  color:rgba(255, 255, 255, 0.3);
}

.main-header {
  display: flex;
  margin-bottom: 0;
}

.nav-picture {
  width: 140px;
  height: 71px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav {
  width: 100%;
  position: relative;
}

.nav {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
}

.nav li {
  min-height: 56px;
  min-width: 239px;
  align-items: stretch;
}

.nav-link {
  display: block;
  text-align: center;
  min-height: 56px;
  width: 100%;
  vertical-align: center;
  line-height: 56px;
}

.welcome {
  margin-bottom: 79px;
}


.description {
  background-color: #ffffff;
  width: 100%;
  min-height: 216px;
  padding-top: 61px;
  box-sizing: border-box;
}

.all-content-grid-container {
  
}
